cmake_minimum_required(VERSION 3.14)
project(usal)

set(CMAKE_CXX_STANDARD 14)

include_directories(.)
include_directories(cmake-build-debug)
include_directories(Programming)

add_executable(usal
        Programming/Arrays/arrays.c
        Programming/Arrays/four.c
        Programming/Arrays/one.c
        Programming/Arrays/three.c
        Programming/Arrays/two.c
        Programming/introduction.c)
